<!-- Footer -->
<div class="footer">
  <div class="footer_content">
    <div class="grid_content">
      <div class="section">
      <div class="section_div">
        <div class="group" data-dynamic-mod="true">
          <img class="map" src="assets/pin.png">
          <p><b>
            118 Route de Narbonne, 
            Division de la Vie Etudiante - Bâtiment Administratif,
            Rez-de-chaussée porte 25,
            31062 Toulouse Cedex 9</b>
            <br><br>(Adresse postale)
          </p>
        </div>
      </div>
      <div class="section_div">
        <div class="group" data-dynamic-mod="true">
          <img class="mail" src="assets/email.png">
          <p>
            <b>contact@computyourself.fr</b>
          </p>
        </div>
      </div>
      <div class="section_div">
        <div class="group" data-dynamic-mod="true">
          <img class="calendar" src="assets/calendar.png">
          <p>
            <b>
              Ouvert toute la semaine 
              <!--<br>Du dimanche au jeudi 10h-00h
              <br>Du vendredi au samedi 10h-03h
              -->
              de 12h à 20h
            </b>
            <br><br>(Les horaires sont suceptibles de changer)
          </p>
          <!--<img class="open_close" src="assets/close.gif">-->
        </div>
      </div>
      <div class="section_div copyright">
        <div class="group" data-dynamic-mod="true">
          <p>
            <b>©  2020 Comput'Yourself
            <br>by Sky</b>
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>

</div>
