
<img class="construction" src="assets/enconstruction.png">
<br>
<br>
<br>
<br>
<br>
<br>
<!--
<div class="Description">

  <div class="TitreDescription">
    L'association
  </div>
  <div class="CorpDescription">
    Comput'Yourself est une association étudiante d'informatique de l’Université Toulouse III – Paul Sabatier crée le 26 Janvier 2008.

    L’association, bien qu’étudiante, reste ouverte à tous. Nous comptons ainsi parmi nos membres beaucoup d’étudiants et doctorants de diverses filières des universités de Toulouse, mais nous avons aussi des membres extérieurs à l’Université.

    Que vous soyez Passionné(e), Curieux(se), Adepte, Novice, ou vous souhaitez découvrir nos activité et/ou décourir ou partager cette passion nh'ésitez pas à venir faire un tour dans nos locaux (liens vers useful-info)
  </div>
  <div class="Activitees">
    <div class="TitreActivitees">
      Nos activitées
    </div>
    <div class="CorpActivitees">
      L'association organise divers évements au cours de l'année comme des LAN
      (Photo + description)

      Des GameJam, Ludum
      (Photo + description)

      Soirées Jeux
      (+ description)

      Et prochainement des Tournois avec Stream avec le TSL (description TLS)
      (+ description)

      Vous avez besoin d'aide en informatique sur vos cours, TP, ou tout simplement en apprendre plus sur l'informatique et ces divers facettes n'hésitez pas

      Vous avez un problemme sur votre ordinateur/tablette/téléphone/....
      Réparation et aide informatique(ardware/software) + blalba

      Vous avez des idée de projet :
      Mettre des projets réalisées + blabla
    </div>
  </div>


  <div class="Materiel">

    <div class="TitreMateriel">
      Le matériel :
    </div>
    <div class="CorpMateriel">
      PC libre accées  L'association dispose de
      Pc en libre accées + blabla

      Paul N

      Paul Allen, Casque VR

      Tablettes graphiques

      RaspberyPi

      Casque Neuronal

      Magazines d'informatique


    </div>

  </div>

</div>
  -->
