/*
.test {
  vertical-align: middle;
  align-items: center;
}
*/

/*
.informations_de_contact_gauche {
  padding-left: 5%;
  padding-right: 50%
}

.informations_de_contact_droite {
  padding-left: 50%;
  padding-right: 5%
}
*/



.OpenGif {
  max-height: 42px !important
}



/* Style inputs 
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.adresse_postale, .adresse_local {
  padding-left: 50%;
  padding-right: 5%;
}
.map {
  padding-left: 5%;
  padding-right: 50%;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
*/
