<!--
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.4609134197235107%2C43.56308778017172%2C1.4750754833221438%2C43.56973442815516&amp;layer=mapnik&amp;marker=43.56641119583843%2C1.4679944515228271" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=43.56641&amp;mlon=1.46799#map=17/43.56641/1.46799&amp;layers=N">Afficher une carte plus grande</a></small>
-->

<div class="container">
  <div style="text-align:center">
    <!--
    <h2>L'association est actuellement fermée pour les vacances</h2>
    <p>Nous vous informerons de la réouverture de l'association
    <br>Car pour le moment, la date n'est pas encore fixée, due aux conditions sanitaires en vigueur</p>

      <h2>L'association est actuellement ouverte de 12h à 20h toute la semaine</h2>
      Pour plus de renseignements, n'hésitez pas à nous contacter par mail ou facebook
  -->
    <!--
  <h2>Le local de l'association est actuellement fermé, mais nous restons actifs sur les réseaux sociaux.</h2>
  Si vous avez des questions ou quoi que ce soit à nous dire, n'hésitez pas à nous contacter.-->
    <!--<h2>
      L'association est actuellement ouverte, les horaires ne sont pas fixes.
      <br />Néanmoins l'association peut être ouverte de 10h à 00h du dimanche au jeudi
      <br />et de 10h à 03h le vendredi et le samedi.
      <br />
      <br />Pour savoir si l'on est bien ouvert, rejoignez nous sur discord.
    </h2>-->
    <!--Pour plus de renseignements, n'hésitez pas à nous contacter par mail ou facebook-->
    <br><br>
  </div>
  <div class="row">
    <div class="column1">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3422.7056257828694!2d1.4668434599977158!3d43.564609644339775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebc394e6a9c79%3A0xc4cc0a937d98470c!2sComput&#39;Yourself!5e1!3m2!1sfr!2sfr!4v1596276059860!5m2!1sfr!2sfr" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="column2">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3425.447495979266!2d1.4658273158130737!3d43.56639997912436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebc394e6a9c79%3A0xc4cc0a937d98470c!2sComput&#39;Yourself!5e1!3m2!1sfr!2sfr!4v1597574985633!5m2!1sfr!2sfr" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="bradress"><br><br><br><br><br><br></div>
    <div class="column">
      <div class="adresse_postale">
        <h3> Adresse Postale : </h3>
        118 Route de Narbonne, Division de la Vie Etudiante - Bâtiment Administratif, Rez-de-chaussée porte 25, 31062 Toulouse Cedex 9
      </div>
      <br>
      <div class="adresse_local">
        <h3> Adresse du Local : </h3>
        Le local de l'association est dans un batiment appele "Chez Paul Etudiant" ou la couleur verte y en ressort il est à côté des "salles S", en face du "143 Avenue de Rangueil, 31400 Toulouse" et dériere de la "Maison de la Recherche et de la Valorisation"
      </div>
    </div>
  </div>
</div>
<br>
<div class="column">
  <div class="mail">
    <!--<h3>Mail :</h3>-->
    <h2>contact@computyourself.fr</h2>
  </div>

  <br>
</div>
<div class="truc">
  <div class="fb">
    <!--<h3>Facebook :</h3>-->
    <a href="https://discord.gg/TZMnzpaPV4" target="_blank">
      <img class="logofacebook logo" src="assets/discord.svg">
    </a>
    <a href="https://www.facebook.com/ComputYourself-1505579006362097/" target="_blank">
      <img class="logofacebook logo" src="assets/facebook.svg">
    </a>
    <a href="https://twitter.com/computyourself" target="_blank">
      <img class="logotwitter logo" src="assets/twitter2.svg">
    </a>
    <!--<a href="https://z-p42.www.instagram.com/computyourself/" target="_blank">
      <img class="logoinstagram logo" src="assets/instagram.svg">
    </a>-->
    <a href="https://www.twitch.tv/computyourself" target="_blank">
      <img class="logotwitch logo" src="assets/twitch.svg">
    </a>
    <a href="https://www.youtube.com/channel/UCLi0if9TG3JDEK1eKqsVuTw" target="_blank">
      <img class="logoyoutube logo" src="assets/youtube-logo.svg">
    </a>
    <a href="https://www.linkedin.com/company/comput%27yourself" target="_blank">
      <img class="logolinkedin logo" src="assets/linkedin-logo.svg">
    </a>

  </div>
</div>
<br>
<div class="horaires">
  <h3>Horaires :</h3>
  <!--Le local de l'association est actuellement fermé.-->
  
  Ouvert toute la semaine et le week-end

  <br>Du dimanche au jeudi 10h-00h
  <br>Du vendredi au samedi 10h-03h
  <br>Ce sont des horaires à titre indicatif
  <br>Pour savoir si le local est bien ouvert rejoignez-nous sur discord
  <br>
  <!--<br><img class="OpenGif" src="assets/open.gif">
  <br><img class="OpenGif" src="assets/close.gif">
  <br><img class="OpenGif" src="assets/goclose.gif">
  <br>(Le local ferme bientôt)<br>-->
  
</div>
<br>
<br>
