<!--
<div class="texte" >
  L'association est actuellement fermée pour les vacances
  <br>Nous vous informerons de la réouverture de l'association car la date n'est pas encore fixée, due aux conditions saniataires en vigueur 
</div>

<br>
<div class="test">
<div class="column" >
  <div class="map" >
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3422.7056257828694!2d1.4668434599977158!3d43.564609644339775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebc394e6a9c79%3A0xc4cc0a937d98470c!2sComput&#39;Yourself!5e1!3m2!1sfr!2sfr!4v1596276059860!5m2!1sfr!2sfr" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  
  </div>
  
  <br>
  <div class="adresse_postale" >
    Adresse Postale :
    <br>118 Route de Narbonne, Division de la Vie Etudiante - Bâtiment Administratif, Rez-de-chaussée porte 25, 31062 Toulouse Cedex 9
  </div>
  <br>
  <div class="adresse_local" >
    Adresse du Local :
    <br>Le local de l'association est dans un batiment appele "Chez Paul Etudiant" ou la couleur verte y en ressort il est à côté des "salles S", en face du "143 Avenue de Rangueil, 31400 Toulouse" et dériere de la "Maison de la Recherche et de la Valorisation"
  </div>
</div>

<div class="column" >
  <div class="mail" >
    Mail :
    <br>contact@computyourself.fr
  </div>
  <br>
  <div class="fb" >
  Facebook :
  <br><a href="" > Comput'Yourself </a>
  </div>
  <br>
  <div class="horaires" >
  Horaires :
  <br>Ouvert toute la semaine
  <br>Du dimanche au jeudi 10h-00h
  <br>Du vendredi au samedi 10h-03h
  <br>Ce sont des horaires à titre indicatif
  <br>Pour savoir si le local est ouvert veillez regarder en haut à droite
  <br>Local ouvert
  <br><img class="OpenGif" src="assets/output_Ak0NCL.gif" >
  <br>Local fermé
  <br><img class="OpenGif" src="assets/output_rXhISN.gif" >
  <br>Le local ferme bientôt
  <br><img class="OpenGif" src="assets/output_3c7YBr.gif" >
  </div>
</div>
</div>
<br>
-->
<!--
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.4609134197235107%2C43.56308778017172%2C1.4750754833221438%2C43.56973442815516&amp;layer=mapnik&amp;marker=43.56641119583843%2C1.4679944515228271" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=43.56641&amp;mlon=1.46799#map=17/43.56641/1.46799&amp;layers=N">Afficher une carte plus grande</a></small>

<br>
-->
<!--
<div class="container">
  <div style="text-align:center">
  <br><br><br><br><br><br><br><br>
    <div class="adresse_postale" >
    Adresse Postale :
    <br>118 Route de Narbonne, Division de la Vie Etudiante - Bâtiment Administratif, Rez-de-chaussée porte 25, 31062 Toulouse Cedex 9
  </div>
  <br>
  <div class="adresse_local" >
    Adresse du Local :
    <br>Le local de l'association est dans un batiment appele "Chez Paul Etudiant" ou la couleur verte y en ressort il est à côté des "salles S", en face du "143 Avenue de Rangueil, 31400 Toulouse" et dériere de la "Maison de la Recherche et de la Valorisation"
  </div>
  </div>
  <div class="row">
    <div class="column">
      <img src="/w3images/map.jpg" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>  
-->


<div class="container">
  <div style="text-align:center">
    <h2>L'association est actuellement fermée pour les vacances</h2>
    <p>Nous vous informerons de la réouverture de l'association
    <br>Car pour le moment la date n'est pas encore fixée, due aux conditions saniataires en vigueur</p>
  </div>
  <div class="row">
    <div class="column">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3422.7056257828694!2d1.4668434599977158!3d43.564609644339775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aebc394e6a9c79%3A0xc4cc0a937d98470c!2sComput&#39;Yourself!5e1!3m2!1sfr!2sfr!4v1596276059860!5m2!1sfr!2sfr" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <br><br><br><br><br><br>
    <div class="column">
      <div class="adresse_postale" >
        <h3> Adresse Postale : </h3>
        118 Route de Narbonne, Division de la Vie Etudiante - Bâtiment Administratif, Rez-de-chaussée porte 25, 31062 Toulouse Cedex 9
      </div>
      <br>
      <div class="adresse_local" >
        <h3> Adresse du Local : </h3>
        Le local de l'association est dans un batiment appele "Chez Paul Etudiant" ou la couleur verte y en ressort il est à côté des "salles S", en face du "143 Avenue de Rangueil, 31400 Toulouse" et dériere de la "Maison de la Recherche et de la Valorisation"
      </div>
    </div>
  </div>
</div>
<br>
<div class="column" >
  <div class="mail" >
    <h3>Mail :</h3>
    contact@computyourself.fr
  </div>
  
  <br>
</div>
<div class="truc" >
  <div class="fb" >
  <!--<h3>Facebook :</h3>-->
  <a href="https://www.facebook.com/ComputYourself-1505579006362097/" > 
  <img class="logofb" src="assets/fb.png">
  </a>
  </div>
</div>
<br>
<div class="horaires" >
  <h3>Horaires :</h3>
   Ouvert toute la semaine
  <br>Du dimanche au jeudi 10h-00h
  <br>Du vendredi au samedi 10h-03h
  <br>Ce sont des horaires à titre indicatif
  <br>Pour savoir si le local est bien ouvert veillez regarder en bas de page
  <br>
  <br><img class="OpenGif" src="assets/open.gif" >
  <br><img class="OpenGif" src="assets/close.gif" >
  <br><img class="OpenGif" src="assets/goclose.gif" >
  <br>(Le local ferme bientôt)<br>
</div>
<br><br>
