/*
.test {
  vertical-align: middle;
  align-items: center;
}
*/

/*
.informations_de_contact_gauche {
  padding-left: 5%;
  padding-right: 50%
}

.informations_de_contact_droite {
  padding-left: 50%;
  padding-right: 5%
}
*/



.OpenGif {
  max-height: 42px !important
}



/* Style inputs 
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.adresse_postale, .adresse_local {
  padding-left: 50%;
  padding-right: 5%;
}
.map {
  padding-left: 5%;
  padding-right: 50%;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
*/
* {
  box-sizing: border-box;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  color: white;
  width: 50%;
  margin-top: 6px;
  padding-right: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-device-width:1480px) {
  .column {
    width: 100%;
    margin-top: 0;
    padding-right: 0px;
  }
}


.mail, .fb, .horaires {
  font-size: 20px;
}
