* {
  box-sizing: border-box;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  color: white;
  width: 50%;
  margin-top: 6px;
  padding-right: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-device-width:1480px) {
  .column {
    width: 100%;
    margin-top: 0;
    padding-right: 0px;
  }
}


.mail, .fb, .horaires {
  font-size: 20px;
}
.mail {
  font-family: "MyFont";
  color: #00ff00;
}
