/* ========================================= */
/* ================== ALL ================== */
/* ========================================= */
.comput_logo {
   width: auto;
  max-height: 150px !important;
  vertical-align: middle;
  opacity: 1;
  transition: opacity .3s;
  max-width: 100%;
  height: auto;
}

.comput_map {
   width: auto;
  max-height: 900px !important;
  vertical-align: middle;
  opacity: 1;
  transition: opacity .3s;
  max-width: 100%;
  height: auto;
}

.comput_fb {
   width: auto;
  max-height: 150px !important;
  vertical-align: middle;
  opacity: 1;
  transition: opacity .3s;
  max-width: 100%;
  height: auto;
}

.all {
  
}
