<app-nav-bar></app-nav-bar>

<!--
<app-home></app-home>
-->

<router-outlet></router-outlet>

<!--
<app-home *ngIf="!isOn"></app-home>
<div class="yolo">
  <router-outlet name="hometest"></router-outlet>
</div>
-->


<img class="comput_logo" src="assets/LogoComputV9Low.png">

<div class="all">
  <br><br>
  <img class="comput_logo" src="assets/warning.png"><h1>Site en construction !!!!</h1><img class="comput_logo" src="assets/warning.png">
  <br><br>

  <a class="fb_comput_link" href="https://www.facebook.com/ComputYourself-1505579006362097">
    <img class="comput_fb" src="assets/fbComput.png">
  </a>

  <br><br>

  <img class="comput_map" src="assets/mapcomputV3Low.png">
  <br><br>
</div>


<app-footer></app-footer>
