<!-- Toolbar Star -->
<div id="top_toolbar" class="haut_entier" role="banner">
  <div class="haut_padding">
    <div class="section_logo">
      <nav>
        <a class="urobase_logo_link" routerLink="/">
          <img class="urobase_logo" src="assets/Urobase_V2_Low.png">
        </a>
      </nav>
       <div class="menu_container_V2">
        zerzerzer
      </div>
    </div>
    <div class="section_menu">
      <div class="menu_container">
        <ul id="main_menu" class="botton_line">
          <li id="menu-item-accueil" class="menu_item_acceuil">
            <a routerLink="/home" aria-current="page">Accueil</a>
          </li>
          <li id="menu-item-accueil" class="menu_item_acceuil">
            <a routerLink="/event" aria-current="page">Evenements</a>
          </li>
          <li id="menu-item-accueil" class="menu_item_acceuil">
            <a routerLink="/about" aria-current="page">L'association</a>
          </li>
          <li id="menu-item-accueil" class="menu_item_acceuil">
            <a routerLink="/picture" aria-current="page">Galerie</a>
          </li>
          <li id="menu-item-accueil" class="menu_item_acceuil">
            <a routerLink="/info" aria-current="page">Infos Utiles</a>
          </li>
        </ul>
      </div>
    </div>

    



  </div>
</div>

<!--
<app-home></app-home>
-->

<router-outlet></router-outlet>

<!--
<app-home *ngIf="!isOn"></app-home>
<div class="yolo">
  <router-outlet name="hometest"></router-outlet>
</div>
-->

<img class="comput_logo" src="assets/LogoComputV9Low.png">

<div class="all">
  <br><br>
  <img class="comput_logo" src="assets/warning.png"><h1>Site en construction !!!!</h1><img class="comput_logo" src="assets/warning.png">
  <br><br>

  <a class="fb_comput_link" href="https://www.facebook.com/ComputYourself-1505579006362097">
    <img class="comput_fb" src="assets/fbComput.png">
  </a>

  <br><br>

  <img class="comput_map" src="assets/mapcomputV3Low.png">
  <br><br>

  
</div>




<!-- Footer -->
<div class="footer">
  <div class="footer_content">
    <div class="grid_content">
      <div class="section">
      <div class="section_div">
        <div class="group" data-dynamic-mod="true">
          <img class="map" src="assets/pin.png">
          <p><b>
            118 Route de Narbonne, 
            Division de la Vie Etudiante - Bâtiment Administratif,
            Rez-de-chaussée porte 25,
            31062 Toulouse Cedex 9</b>
            <br><br>(Adresse postale)
          </p>
        </div>
      </div>
      <div class="section_div">
        <div class="group" data-dynamic-mod="true">
          <img class="mail" src="assets/email.png">
          <p>
            <b>contact@computyourself.fr</b>
          </p>
        </div>
      </div>
      <div class="section_div">
        <div class="group" data-dynamic-mod="true">
          <img class="calendar" src="assets/calendar.png">
          <p>
            <b>Ouvert toute la semaine
              <br>Du dimanche au jeudi 10h-00h
              <br>Du vendredi au samedi 10h-03h</b>
              <br><br>(Les horaires sont suceptibles de changer)
          </p>
        </div>
      </div>
      <div class="section_div copyright">
        <div class="group" data-dynamic-mod="true">
          <p>
            <b>©  2020 Comput'Yourself
            <br>by Sky</b>
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>

</div>
