/* ========================================= */
/* ================ Toolbar ================ */
/* ========================================= */


.header-top {
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
  display: block;
  float: none;
  line-height: 24px;
}

.haut_padding {
  display: block;
  width: 100%;
  backface-visibility: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

.section_logo {
  min-height: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
  flex-basis: 100%;
  max-width: none;
  max-height: none;
  box-sizing: border-box;
  justify-content: center;
}

.section_logo, .section_menu {
    text-align: left;
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

.section_menu {
  justify-content: flex-end;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.urobase_logo {
  width: auto;
  max-height: 80px !important;
  vertical-align: middle;
  opacity: 1;
  transition: opacity .3s;
  max-width: 100%;
  height: auto;
}

.section_menu {
  justify-content: center;
  text-align: left;
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
}

.menu_container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
  text-align: left;
}

ul.botton_line {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  position: static;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  left: 0;
  box-sizing: border-box;
  width: 100%;
}

ul.botton_line li {
    display: block;
    position: relative;
    color: #fff;
    transition: all .4s;
    overflow: hidden;
    padding: .85rem;
}

ul.botton_line {
    border-bottom: 3px solid #03a9f4;
}

ul.botton_line > li > a {
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

ul.botton_line li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: inherit;
    position: relative;
}

.menu_container_V2 { 
  display: none;
}


@media only screen and (max-device-width:980px){
  .section_logo {
    min-height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: left;
    flex-basis: auto;
    max-width: 80%;
  }

  .menu_container {
    display: none;
  }

  .menu_container_V2 {
    display: contents;
    box-sizing: border-box;
    flex-shrink: 0;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: auto;
    flex-grow: 0;
    max-width: 100%;
    text-align: center;
    display: flex;
    align-items: right;
    justify-content: right;
  }

}


/* ========================================= */
/* ================== ALL ================== */
/* ========================================= */
.comput_logo {
   width: auto;
  max-height: 150px !important;
  vertical-align: middle;
  opacity: 1;
  transition: opacity .3s;
  max-width: 100%;
  height: auto;
}

.comput_map {
   width: auto;
  max-height: 900px !important;
  vertical-align: middle;
  opacity: 1;
  transition: opacity .3s;
  max-width: 100%;
  height: auto;
}

.comput_fb {
   width: auto;
  max-height: 150px !important;
  vertical-align: middle;
  opacity: 1;
  transition: opacity .3s;
  max-width: 100%;
  height: auto;
}

.all {
  
}


/* ========================================= */
/* ================ Footer ================= */
/* ========================================= */

.footer {
    background-color: #fff;
    margin-bottom: -8px;
    color: #fff;
    margin-left: -8px;
    margin-right: -8px;
    font-size: 17px;
    line-height: 1.5rem;
    word-wrap: break-word;
}

.footer .footer_content {
  position: relative;
  z-index: 0;
}

.footer_content {
  background-color: #222;
}

.footer .grid_content {
    position: relative;
    z-index: 10;
}

.grid_content {
  width: 100%;
  max-width: 1432px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
  box-sizing: border-box;
}

.section_div {
    padding-top: 60px;
    padding-bottom: 30px;
    border-left: 1px solid rgba(128,128,128,.2);
    border-left-color: rgba(128, 128, 128, 0.2);
    border-left-style: solid;
    border-left-width: 1px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}


.map {
    max-height: 50px !important;
    margin-bottom: 0px;
}

.mail {
  max-height: 50px !important;
  margin-bottom: 0px;
 
}

.calendar {
  max-height: 50px !important;
  margin-bottom: 0px;
}

.copyright {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #00ff00;
}

@media only screen and (max-device-width:980px){
  .footer {
    background-color: #fff;
    margin-bottom: -8px;
    color: #fff;
    margin-left: -8px;
    margin-right: -8px;
    font-size: 17px;
    line-height: 1.5rem;
    word-wrap: break-word;

}

.footer .footer_content {
  position: relative;
  z-index: 0;
}

.footer_content {
  background-color: #222;
}

.footer .grid_content {
    position: relative;
    z-index: 10;
}

.grid_content {
  width: 100%;
  max-width: 1432px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.section {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
}

.section_div {
    padding-top: 60px;
    padding-bottom: 30px;
    border: 1px solid rgba(128,128,128,.2);
    border-color: rgba(128, 128, 128, 0.2);
    border-style: solid;
    border-width: 1px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}


.map {
    max-height: 50px !important;
    margin-bottom: 0px;
}

.mail {
  max-height: 50px !important;
  margin-bottom: 0px;
 
}

.calendar {
  max-height: 50px !important;
  margin-bottom: 0px;
}

.copyright {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #00ff00;
}
}
