<!-- Toolbar -->
<div id="top_toolbar" class="haut_entier" role="banner">
  <div class="haut_padding">
    <div class="section_logo">
      <nav>
        <a class="urobase_logo_link" routerLink="/">
          <img class="urobase_logo" src="assets/Urobase_V2_Low.png">
        </a>
      </nav>
       <div class="menu_container_V2">
        zerzerzer
      </div>
    </div>
    <div class="section_menu">
      <div class="menu_container">
        <ul id="main_menu" class="botton_line">
          <li id="menu-item-accueil" class="menu_item_acceuil">
            <a routerLink="/home" aria-current="page">Accueil</a>
          </li>
          <li id="menu-item-accueil" class="menu_item_acceuil">
            <a routerLink="/event" aria-current="page">Evenements</a>
          </li>
          <li id="menu-item-accueil" class="menu_item_acceuil">
            <a routerLink="/about" aria-current="page">L'association</a>
          </li>
          <li id="menu-item-accueil" class="menu_item_acceuil">
            <a routerLink="/picture" aria-current="page">Galerie</a>
          </li>
          <li id="menu-item-accueil" class="menu_item_acceuil">
            <a routerLink="/info" aria-current="page">Infos Utiles</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
