<div class="event-futur">
  <div class="titre-futur underover"><b>Événements à venir :</b></div>
  <br>
  <!--<div class="texte-futur"><b class="blink"><br>Bientôt de nouveaux événements pour 2020</b></div>-->

  <div class="Semaine d'animation">
    <div class="titre-semaine-animation-2020 titre">
      <br><br>Semaine d'animation 29 septembre au 2 octobre 2020<br><br>
    </div>
    <img class="affiche-semaine-animation-2020" src="assets/flyer-animation 2020-1.png">
    <img class="affiche-semaine-animation-2-2020" src="assets/flyer-animation 2020-2.png">
  </div>

</div>
<br>
<br>
<div class="event-passe">
  <div class="titre-passe underover"><b>Événements passés : </b></div>
  <div class="2019">
    <div class="Lan-O-Ween-2019">
      <div class="titre-lanoween-2019 titre">
        <br><br>Lan-O-Ween 1-2-3 novembre 2019<br><br>
      </div>
      <img class="affiche-Lan-O-Ween-2019" src="assets/LanOWeen2019.jpg">
    </div>
    <div class="Semaine d'animation">
      <div class="titre-semaine-animation-2019 titre">
        <br><br>Semaine d'animation 30 septembre au 4 octobre 2019 <br><br>
      </div>
      <img class="affiche-semaine-animation-2019" src="assets/SemaineAnimation2019.jpg">
    </div>
    <div class="...">
      <div class="titre">
        <br><br>...<br><br>
      </div>
    </div>
  </div>
</div>

