.titre-futur {
  font-size: 2.8em;
  padding-top: 1%;
}

.texte-futur {
  font-size: 3.8em;
  color: #00ff00;
  line-height: 3.5rem;
  animation: Test 1.5s infinite;
}

.titre-passe {
  font-size: 2.8em;
  padding-top: 1%;
}

.titre {
  font-size: 1.8em;
}

.affiche-Lan-O-Ween-2019, .affiche-semaine-animation-2019, .affiche-semaine-animation-2020, .affiche-semaine-animation-2-2020 {
  max-height: 1000px !important
}

.underover {
  text-decoration: dashed underline overline;
  line-height: 3.4rem;
}

@keyframes Test {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-device-width:1180px) {
  .affiche-Lan-O-Ween-2019, .affiche-semaine-animation-2019, .affiche-semaine-animation-2020, .affiche-semaine-animation-2-2020 {
    max-height: 500px !important
  }

  .texte-futur {
    font-size: 1.8em;
    line-height: 2.0rem;
  }
}
