<div class="event-futur">
<div class="titre-futur underover" ><b>Événements à venir :</b></div>
<br>
<div class="texte-futur"><b class="blink"><br>Bientôt de nouveaux événements pour 2020</b></div>
</div>
<br><br>
<div class="event-passe">
<div class="titre-passe underover"><b>Événements passés : </b></div>
<div class="2019">
  <div class="Lan-O-Ween-2019">
    <div class="titre-lanoween titre">
      <br><br>Lan-O-Ween 1-2-3 novembre 2019<br><br>
    </div>
    <img class="affiche-Lan-O-Ween" src="assets/LanOWeen2019.jpg">
  </div>
  <div class="Semaine d'animation">
    <div class="titre-semaine-animation-2019 titre">
      <br><br>Semaine d'animation 30 septembre au 4 octobre 2019 <br><br>
    </div>
    <img class="affiche-semaine-animation-2019" src="assets/70538350_2134941016611478_2696418006442967040_o.jpg">
  </div>
  <div class="...">
    <div class="titre">
      <br><br>...<br><br>
    </div>
  </div>
</div>
</div>

