<div class="titre">
  <div class="texte-titre">Bienvenu dans l'antre de</div>
  <br><br>
  <img class="logo" src="assets/LogoComputVectoriel.svg">
  <br><br><br>
</div>

<div class="texte">
  <b>
    Passionné(e), Curieux(se), Adepte, Novice, ....
    <br>d'Informatique, de Nouvelles Technologies, de Jeux, ...
    <br>Vous avez frappé à la bonne porte !
  </b>
  <br><br>
</div>

<div class="content">
  <div class="gridcontent">
    <div class="contentcenter">
      <div class="item">
        <div class="" data-type="column">
          <img class="image" src="assets/Urobase_V2_Low.png" alt="LAN" title="LAN" width="128" height="128" />
          <h3 class="font-400">LAN</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <img class="image" src="assets/Urobase_V2_Low.png" alt="GameJam" title="GameJam" width="128" height="128" />
          <h3 class="font-400">GameJam</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <a href="https://ldjam.com/" target="_blank"><img class="image" src="assets/ludum.png" alt="Ludum" title="Ludum" width="172" height="128" /></a>
          <h3 class="font-400">Ludum</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <a href="https://www.vive.com/fr/product/vive/" target="_blank"><img class="image" src="assets/htc.png" alt="Réalité Virtuelle" title="HTC-VIVE" width="128" height="128" /></a>
          <h3 class="font-400">VR</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <a href="https://www.emotiv.com/epoc/" target="_blank"><img class="image" src="assets/epoc.png" alt="EPOQUE+" title="Casque Neuronal" width="206" height="128" /></a>
          <h3 class="font-400">Casque EEG</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <a href="https://estore.wacom.com/en-CH/wacom-intuos-pro-large-l-en-fr-es-it-nl-pth-860-s.html" target="_blank"><img class="image" src="assets/tablette.png" alt="Tablette-Graphique" title="Tablettes Graphiques" width="244" height="128" /></a>
          <h3 class="font-400">Tablettes Graphiques</h3>
          <p class="texte2">
            L'association dispose de deux tablettes graphiques utilisez lors des événements comme les GameJam, Ludum ou pour nos créations graphiques.
            <br>Si cela vous tente, venez les tester ou participer à nos événements et réalisez vos propres créations.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <a href="https://boutique.ed-diamond.com/" target="_blank"><img class="image" src="assets/magazines2.png" alt="Magazines" title="Magazines" width="259" height="128" /></a>
          <h3 class="font-400">Magazines d'Informatique</h3>
          <p class="texte2">
            L'association est abonée à GNU/Linux Magazine, Hackable Magazine, Linux Pratique et MISC. <br>
            LINUX - OPEN SOURCE – EMBARQUÉ - SÉCURITÉ INFORMATIQUE - ÉLECTRONIQUE<br>
            Tous ces domaines sont couverts par ces ouvrages !
            <br>Avec GNU/Linux Magazine, le mensuel du développement et de l’administration sur systèmes UNIX, open source & embarqué.
            <br>Linux Pratique, le bimestriel destiné à tous ceux qui cherchent à comprendre, utiliser et administrer Linux sur PC, Mac, & Raspberry Pi.
            <br>MISC le magazine consacré à la sécurité informatique multiplateforme.
            <br>Hackable, publication d’électronique grand public...
            <br>il y a forcément un magazine fait pour vous !
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <img class="image" src="assets/Urobase_V2_Low.png" alt="Ardware/Software" title="Réparation informatiques" width="128" height="128" />
          <h3 class="font-400">Réparation Informatiques</h3>
          <p class="texte2">
            Que vous ayez un problème logiciel ou matériel, l'association vous propose de vous aider à réparer votre ordinateur/tablette/raspberry pi/téléphone chaque mercredi après midi à partir de 14h
            <br>(Vous pouvez prendre contact par mail ou sur nos réseaux sociaux pour nous signaler votre problème)
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

