<div class="titre">
  <div class="texte-titre">Bienvenu dans l'antre de</div>
  <br><br>
  <img class="logo" src="assets/LogoComputVectoriel.svg">
  <br><br><br>
</div>

<div class="texte">
  <b>
    Passionné(e), Curieux(se), Adepte, Novice, ....
    <br>d'Informatique, de Nouvelles Technologies, de Jeux, ...
    <br>Vous avez frappé à la bonne porte !
  </b>
  <br><br>
</div>

<div class="content">
  <div class="gridcontent">
    <div class="contentcenter">
      <div class="item">
        <div class="" data-type="column">
          <img class="image" src="assets/Urobase_V2_Low.png" alt="LAN" title="LAN" width="128" height="128" />
          <h3 class="font-400">LAN</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <img class="image" src="assets/Urobase_V2_Low.png" alt="GameJam" title="GameJam" width="128" height="128" />
          <h3 class="font-400">GameJam</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <img class="image" src="assets/Urobase_V2_Low.png" alt="Ludum" title="Ludum" width="128" height="128" />
          <h3 class="font-400">Ludum</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <img class="image" src="assets/Urobase_V2_Low.png" alt="Réalité Virtuelle" title="HTC-VIVE" width="128" height="128" />
          <h3 class="font-400">VR</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <img class="image" src="assets/Urobase_V2_Low.png" alt="EPOQUE+" title="Casque Neuronal" width="128" height="128" />
          <h3 class="font-400">Casque EEG</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <img class="image" src="assets/Urobase_V2_Low.png" alt="Tablette-Graphique" title="Tablettes Graphiques" width="128" height="128" />
          <h3 class="font-400">Tablettes Graphiques</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <img class="image" src="assets/Urobase_V2_Low.png" alt="Magazines" title="Magazines" width="128" height="128" />
          <h3 class="font-400">Magazines d'Informatique</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>
      </div>
      <div class="item">
        <div class="" data-type="column">
          <img class="image" src="assets/Urobase_V2_Low.png" alt="Ardware/Software" title="Réparation informatiques" width="128" height="128" />
          <h3 class="font-400">Réparation Informatiques</h3>
          <p class="texte2">
            Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
